do-lect/*
morningprayer/morningprayer
\.idea/vcs\.xml

\.idea/bcp-mp\.iml

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/watcherTasks\.xml

\.idea/workspace\.xml

bcp-mp/uat/log\.html

bcp-mp/uat/output\.xml

bcp-mp/uat/report\.html

bcp-mp/uat/selenium-screenshot-1\.png
