h1 {
    font-family: 'Cinzel', serif;
}

h2 {
    /* font-family: 'Cormorant', serif; */
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

h3 {
    font-family: 'Cinzel', serif;
    padding-left: 2%;
}

p {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    padding-left: 5%;
    font-size: x-large;
}

body {
    background-color: rgb(238, 238, 238);
}